@-ms-viewport{
  width: device-width;
}

body {
  background: rgb(244, 244, 244);
  position: relative;
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0;
  background: none;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  z-index: 2;
  padding: 0 30px;
  box-sizing: border-box;
  transition: background 0.4s ease-out;
}

#navbar.navbar {
  background: rgb(244, 244, 244);
  box-shadow: 0px 3px 5px 2px rgb(89, 114, 148);
  color: rgb(22, 41, 67);
}

.nav-title {
  font-size: 1.3em;
}

#nav-toggle {
  display: none;
  padding-top: 15px;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.nav-links-wrapper {
  flex: 2 1 auto;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-out;
  box-sizing: border-box;
  min-width: 500px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  font-size: .9em;
}

.nav-links>li {
  padding: 0 20px;
  list-style-type: none;
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-links>li:hover {
  transform: translateY(-5px);
}

.nav-links>li:not(:first-of-type) {
  border-left: 1px solid rgb(201, 186, 186);
}

a {
  text-decoration: none;
  color: inherit;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 1;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}

.section>h1 {
  margin-bottom: 10px;
}

.section>p {
  margin-top: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 1.1em;
}

.section>button {
  font-size: 1.01em;
}

button {
  width: 120px;
  height: 50px;
  border: none;
  color: rgb(89, 114, 148);
  background: #fff;
  border-radius: 5px;
  transition-duration: .5s;
  cursor: pointer;
}

button:hover {
  box-shadow: darkslategrey 1px 1px 5px 1px;
  transform: scale(1.05,1.05);
}

.main-section::after {
  content: "";
  background: url('https://images.unsplash.com/photo-1533630336171-85a2cde85463?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d877b275f1a24315e9ed7857234b5ee2&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;  bottom: 0;  left: 0;  right: 0;
  position: absolute;
  z-index: -1;
}

.second-section::after {
  content: "";
  background: url('https://images.unsplash.com/photo-1511516315833-9c19f0e41bf4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=768b66c6b7354ddf24768ac457cfdc8e&auto=format&fit=crop&w=1051&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  top: 0;  bottom: 0;  left: 0;  right: 0;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  
  #navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .container {
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
  }
    
  .nav-links-wrapper {
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .nav-links {
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .nav-links>li:hover {
    transform: translateX(10px);
  }
  
  .nav-links-wrapper.toggleShow {
    display: flex;
    max-height: 0;
    overflow: hidden;
  }
  
  .nav-links-wrapper.animate {
    max-height: 230px;
    padding-bottom: 20px;
  }
  
  .nav-links>li {
    margin: 0 0 20px 0;
    padding: 0;
  }

  .nav-links>li:not(:first-of-type) {
    border-left: none;
  }
  
  #nav-toggle {
    display: inline;
  }
  
}

@media screen and (max-width: 700px) {
  .section {
    font-size: 1em;
  }
}

input {
  height: 50px;
  width: 80%;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 1.01em;
  transition-duration: .5s;
  border: none;
}

input[type='submit'] {
  box-shadow: 1px 1px 0px 2px rgb(89, 114, 148);
  cursor: pointer;
}

input[type='submit']:hover {
  transform: scale(1.05,1.05);
}

input:focus {
  box-shadow: 0px 0px 2px 2px rgb(89, 114, 148);
}

.hidden {
  display: none !important;
}