.search-form>input {
  border-left: 1px;
  border-right: 0;
  border-top: 1px;
  border-bottom: 1px;
  border-color: gray;
  border-style: solid;
}

.search-form>i {
  border-left: 0;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-color: gray;
  border-style: solid;
  box-sizing: border-box
}